/* Authors:
 *   Pavel Zuna <pzuna@redhat.com>
 *   Adam Young <ayoung@redhat.com>
 *   Endi Sukma Dewata <edewata@redhat.com>
 *   Kyle Baker <kybaker@redhat.com>
 *
 * Copyright (C) 2010 Red Hat
*/

/* ssbrowser */

.ssbrowser h2 {
    font-family: 'Overpass Bold';
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 3em;
    margin-left: 5em;
    margin-top: -3em;
}

/* Browser configuration */

object.browser-config {
    width: 100%;
}

